ipykernel
ollama
streamlit
streamlit-folium
folium
docx2txt
jq
wordcloud
nltk
pandas
geopandas
tiktoken
jupyter
python-dotenv
langchain
langchain-ollama              
langchain-openai
langchain-anthropic
langchain_core
langchain-community
langchain-experimental
langchain-chroma>=0.1.2
unstructured>=0.16.12
unstructured[all-docs]>=0.16.12     
onnx>=1.17.0
protobuf==5.29.2
chromadb>=0.4.22
pydantic==2.10.4
